<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThumbKiss.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FC442AFD11A1E66B70DFDE1C1ACFC198BCB30F35</string>
				<key>dateExpires</key>
				<string>6/25/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RHL7BP4QCA.com.jasonericson.ThumbKiss</string>
				<key>com.apple.developer.team-identifier</key>
				<string>RHL7BP4QCA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ThumbKiss.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>90015f26-8f6c-4d52-a45a-4e2550d98264</string>
				<key>dateExpires</key>
				<string>6/25/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.jasonericson.ThumbKiss</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RHL7BP4QCA</string>
				<key>name</key>
				<string>Jason Ericson</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
